body{
    background-color: lightgray;
}
.counter-field{
    border-radius: 10px;
    background-color: rgb(7, 1, 1);
    box-shadow:10px 10px 20px white;
}
.btn-style{
    background-color:rgb(53, 236, 16);
    color: black;
    font-weight: 700;
    border-radius: 20px;
    padding: 8px 20px;
    margin-left:100px ;
}
h2{
    color: rgb(250, 249, 249);
    font-size: 40px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-size: 25px;
    font-weight: 700;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color:rgb(235, 86, 86);
}